body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .project-page {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c0c1d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  .content {
    margin-top: 30px; /* Offset for the fixed header */
    padding: 20px;
    
  }
  .project-details {
    padding: 20px;
    width: 100vw; /* Ensure it takes the full width of the viewport */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .project-image {
    width: 50%;
    height: auto;
    align-items: center;
  }

  .projectVideo{
    text-align: center;
    padding: 20px;
  }
  
  
  
  
  
  .description { width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0 20px; /* Add some padding for better readability */
    word-wrap: break-word; /* Ensure long words or URLs break correctly */
    overflow-wrap: break-word;
    max-width: 100vw; /* Ensure it doesn't exceed the viewport width */

  }
  
  .description h2 {
    margin-top: 0;

  }
  .project-details a {
    color: lightblue;
    font-style: italic;
    text-decoration: none; /* Remove underline if you prefer */
  }
  
  .project-details a:hover {
    text-decoration: underline; /* Add underline on hover if you want */
  }
  
  .description p {
    line-height: 1.6;
    margin: 0;
    padding: 0;

  }
  h4{
    color:rgb(6, 180, 6);
    padding: 10px;
    text-align: center;
    font-size: 55px;
    position: sticky;

  }
  .back-button {
    margin-bottom: 20px;
  }
  
  .back-button a {
    text-decoration: none;
    color: #6a6b6d;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
  }
  
  .back-button a span {
    margin-left: 8px;
  }
  
  